html,
body {

    width: 100%;
    max-width: 650px;
    background-color: black;
    color: white;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 15vh;
    line-height: 1.2em;
    align-items: center;
    text-align: center;
    cursor: url(wii-pointer-ccw.cur) 16 16, auto;
}


a{
    text-decoration: none;
    color: indigo;
}

.projects{
    color: white;
    text-decoration: underline;
}